/* Створити селектор кнопки з округлими краями, задати фоновий градієнт */
.button {
  border-radius: 5px; /* Округліть кути кнопки на 5 пікселів */
  background: var(
    --Gradient,
    linear-gradient(90deg, #2563eb 0.36%, #d946ef 201.02%)
  ); /* Задайте фоновий градієнт для кнопки */
  border: none; /* Видаліть межі кнопки */
}

.button a {
  text-decoration: none;
  color: #f9fafb;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s ease;
}

.button a:hover {
  color: #cacaca;
}

/* Стилізувати фонове зображення та шрифт для сторінки */
body {
  background: url(../img/global__bg.png); /* Задайте фонове зображення для сторінки */
  background-repeat: no-repeat; /* Забороніть повторення фонового зображення */
  background-size: cover; /* Задайте розмір фонового зображення на всю ширину та висоту екрана */
  background-position: center center; /* Задайте положення фонового зображення по центру сторінки */
  font-family: "DM Sans"; /* Задайте шрифт для всього тексту на сторінці */
}

/* Стилізувати контейнер для розміщення елементів верхнього блоку */
.container {
 width: 1158; /* Задайте ширину контейнера 1158 пікселів */
  padding-left: 15;/* Задайте внутрішній відступ зліва 15 пікселів */
  padding-right: 15;/* Задайте внутрішній відступ справа 15 пікселів */
  padding-inline: 10;/* Задайте автоматичні зовнішні відступи для вирівнювання контейнера по центру */
  outline: 2px solid red; /* Обведення контейнера червоним кольором для виділення */
}

/* Стилізувати верхній блок сторінки */
header {
  padding-top: 24;/* Задайте внутрішній відступ у 24 пікселів зверху та знизу */
}

/* Стилізувати контейнер елементів верхнього блоку */
.header-container {
   display: flex;  /* Задайте властивість flex для гнучкого розташування елементів */
  /* Розташуйте елементи верхнього блоку рівномірно */
}

/* Стилізувати навігаційне меню */
.header-nav {
display: flex;    /* Задайте властивість flex для гнучкого розташування елементів */
  justify-content: center;/* Розташуйте елементи навігаційного меню по центру */
  line-height: 60;/* Задайте проміжок між елементами навігаційного меню 60 пікселів */
}

/* Стилізувати список елементів верхнього блоку */
.header-list {
 display: flex;  /* Задайте властивість flex для гнучкого розташування елементів */
  justify-content: center;/* Розташуйте елементи верхнього блоку по центру */
  line-height: 60;/* Задайте проміжок між елементами верхнього блоку 60 пікселів */
}

/* Стилізувати елементи списку верхнього блоку */
.header-item {
  margin-top: 12;/* Задайте зовнішній відступ для елементів списку верхнього блоку 12 пікселів */
}

/* Стилізувати посилання верхнього блоку */
.header-link {
  /* Видаліть підкреслення для посилань верхнього блоку */
 color: #cacaca; /* Задайте білий колір тексту для посилань верхнього блоку */
  font-size: 14;/* Задайте розмір шрифту 14 пікселів для тексту посилань верхнього блоку */
  font-weight: 500;/* Задайте товщину шрифту 500 для тексту посилань верхнього блоку */
  /* Задайте плавний перехід для анімації тексту посилань верхнього блоку */
}

/* Змінити колір посилання верхнього блоку при наведенні на нього */
.header-link:hover {
  color: blueviolet;/* Змініть колір тексту на фіолетовий при наведенні на посилання верхнього блоку */
}

/* Стилізувати кнопку верхнього блоку */
.header-button {
  padding: 0%;/* Задайте внутрішній відступ для кнопки верхнього блоку */
  line-height: 1.5;/* Задайте висоту рядка 1.5 */
}












.solution-container {
  /* Зробіть, щоб елементи в цьому контейнері виглядали поруч */
}

.start-inner {
}

.start-title {
  background-color: ;/* Задайте градієнтний фон для тексту заголовка */
  background-color: ;/* Зробіть фоновий градієнт видимим тільки в межах тексту */
  color: color(from color srgb r g b);/* Зробіть колір тексту прозорим для використання градієнту */
  text-shadow: none;/* Додайте тінь для створення об'ємного ефекту */
  line-height: 58;/* Розмір шрифту 58px */
  font-weight: 700;/* Товщина шрифту 700 */
  line-height: 84;/* Висота рядка тексту 84px */
  letter-spacing: 1.16;/* Відстань між символами 1.16px */
  line-height: 32;/* Відстань від нижнього краю 32px */
}

.start-article {
  color: aliceblue;/* Колір тексту параграфа білого */
  text-shadow: none;/* Тінь тексту для створення об'ємного ефекту */
 line-height: 15; /* Розмір шрифту 15px */
  line-weight:500 ;/* Товщина шрифту 500 */
  line-height: 30;/* Висота рядка тексту 30px */
  line-break: 32;/* Відстань від нижнього краю 32px */
}

.start-buttons {
  /* Зробіть кнопки на блоку "start-buttons" вигнутими поруч */
}

.start-button {
 padding-top:12 24 ; /* Встановіть відступи всередині кнопки 12 px та 24px */
 padding-right: 32; /* Відступ справа від кнопки 32px */
}

.start-button-video {
  /* Зробіть кнопку для відео вигнутою в ряд */
  justify-content: center;/* Вирівняйте елементи по вертикалі по центру */
  background:center;/* Видаліть фон кнопки */
  color: aliceblue;/* Колір тексту кнопки білий */
  direction: ;/* Видаліть межі кнопки */
}

.start-button-video span {
  padding-left: 10;/* Відступ зліва на 10 від тексту кнопки */
  line-height: 16;/* Розмір шрифту 16px*/
  font-weight: 500;/* Товщина шрифту 500*/
  /* Звичайна висота рядка тексту */
}









/* service */

.service-title {
  display: flex;/* Використовуйте flex-контейнер для вирівнювання по центру */
  align-items:self-start;/* Горизонтальне вирівнювання елементів в центрі */

  color: antiquewhite;/* Встановіть колір тексту white */
  line-height: 42;/* Розмір шрифту 42px */
  font-weight: 700;/* Товщина шрифту 700*/
  line-height: normal;/* Міжрядковий інтервал normal */
  margin-bottom: 32;/* Зовнішній відступ знизу 32px */
}

.service-text {
  display: flex;/* Використовуйте flex-контейнер для вирівнювання по центру */
  align-items: center;/* Горизонтальне вирівнювання елементів в центрі */
}

.service-article {
  align-items: center;/* Вирівняйте текст статті по центру */
  color: antiquewhite;/* Встановіть колір тексту white */
  line-height: 16;/* Розмір шрифту 16px */
  font-weight: 400;/* Товщина шрифту 400*/
  line-height: 26;/* Міжрядковий інтервал 26px */
  padding-bottom: 40;/* Зовнішній відступ знизу 40px */
}

.service-items {
  display: flex;/* Використовуйте flex-контейнер для вирівнювання по центру */
  align-items: center;/* Горизонтальне вирівнювання елементів в центрі */
  letter-spacing: 30;/* Встановіть проміжок між елементами 30px не через margin ta padding */
}

.service-item {
  display: flex;/* Використовуйте flex-контейнер для вирівнювання по центру */
  justify-content: first baseline;/* Розташовуйте дочірні елементи в стовпчик */
  justify-content: center;/* Вирівнюйте елементи по центру по вертикалі */
  align-items: center;/* Вирівнюйте елементи по центру по горизонталі */

  /* Закруглення кутів 34px (border)*/
  border: 1px solid var(--Bg-2, rgba(255, 255, 255, 0.08));
  background: linear-gradient(
    268deg,
    rgba(254, 254, 255, 0.03) -11.04%,
    rgba(255, 255, 255, 0.02) 104.89%
  );

  /* Shadow  */
  box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);
  padding: 20 40;/* Внутрішній відступ 20px ta 40 px*/
}

.service-item-icon {
 margin: 18;/* Зовнішній відступ 18px */
}

.service-item-title {
  margin: 18;/* Зовнішній відступ 18px */
  color: antiquewhite;/* Встановіть колір тексту white */
  line-height: 24;/* Розмір шрифту 24px */
  font-weight: 500;/* Товщина шрифту 500*/
  line-height: normal;/* Міжрядковий інтервал normal */
}

.service-item-article {
  margin: 224;/* Зовнішній відступ снизу 24px */
  color: antiquewhite;/* Встановіть колір тексту white */
  line-height: 16;/* Розмір шрифту 16px */
  font-weight: 400;/* Товщина шрифту 400*/
  line-height: 26;/* Міжрядковий інтервал 26px */
  justify-content: left;/* Вирівнюйте текст по лівому краю (text-align)*/
}

.service-item-link {
  display: flex;/* Використовуйте flex-контейнер для вирівнювання по центру */
  cancel/* Відмініть оформлення підкреслення для посилання */
}

.service-item-link span {
 color:antiquewhite;/* Встановіть колір тексту white */
 margin:8; /* Зовнішній відступ справа 8px */
}s